@namespace Pk9r.Minesweeper.Components
@inherits FluentComponentBase

<div style="display: inline-flex;">
    <div class="counterleft" />
    <div class="countermiddle">
        <div class=@GetClassValue(0) />
    </div>
    <div class="countermiddle">
        <div class=@GetClassValue(1) />
    </div>
    <div class="countermiddle">
        <div class=@GetClassValue(2) />
    </div>
    <div class="counterright" />
</div>