.bottom {
    background-image: url('texture/border/bottom.svg');
    background-size: 100% 100%;
    width: 16px;
    height: 9px;
}

.bottomleft {
    background-image: url('texture/border/bottomleft.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 9px;
}

.bottomright {
    background-image: url('texture/border/bottomright.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 9px;
}

.bottomtop {
    background-image: url('texture/border/bottomtop.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 9px;
}

.counterleft {
    background-image: url('texture/border/counterleft.svg');
    background-size: 100% 100%;
    width: 1px;
    height: 27px;
}

.counterright {
    background-image: url('texture/border/counterright.svg');
    background-size: 100% 100%;
    width: 1px;
    height: 27px;
}

.countermiddle {
    background-image: url('texture/border/countermiddle.svg');
    background-size: 100% 100%;
    width: 13px;
    height: 27px;
}

.left {
    background-image: url('texture/border/left.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 16px;
}

.middleleft {
background-image: url('texture/border/middleleft.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 15px;
}

.middleright {
    background-image: url('texture/border/middleright.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 15px;
}

.middletop {
    background-image: url('texture/border/middletop.svg');
    background-size: 100% 100%;
    width: 16px;
    height: 15px;
}

.right {
    background-image: url('texture/border/right.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 16px;
}

.top {
    background-image: url('texture/border/top.svg');
    background-size: 100% 100%;
    width: 16px;
    height: 12px;
}

.topleft {
    background-image: url('texture/border/topleft.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 12px;
}

.topright {
    background-image: url('texture/border/topright.svg');
    background-size: 100% 100%;
    width: 12px;
    height: 12px;
}

.cell {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
}

.blast {
    background-image: url('texture/cells/blast.svg');
}

.cell1 {
    background-image: url('texture/cells/cell1.svg');
}

.cell2 {
    background-image: url('texture/cells/cell2.svg');
}

.cell3 {
    background-image: url('texture/cells/cell3.svg');
}

.cell4 {
    background-image: url('texture/cells/cell4.svg');
}

.cell5 {
    background-image: url('texture/cells/cell5.svg');
}

.cell6 {
    background-image: url('texture/cells/cell6.svg');
}

.cell7 {
    background-image: url('texture/cells/cell7.svg');
}

.cell8 {
    background-image: url('texture/cells/cell8.svg');
}

.celldown {
    background-image: url('texture/cells/celldown.svg');
}

.cellflag {
    background-image: url('texture/cells/cellflag.svg');
}

.cellmine {
    background-image: url('texture/cells/cellmine.svg');
}

.cellup {
    background-image: url('texture/cells/cellup.svg');
}

.falsemine {
    background-image: url('texture/cells/falsemine.svg');
}