.bottom {
    background-image: url('texture/border/bottom.svg');
    background-size: 100% 100%;
    width: calc(160px / 10 * var(--zoom) / 100);
    height: calc(90px / 10 * var(--zoom) / 100);
}

.bottomleft {
    background-image: url('texture/border/bottomleft.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(90px / 10 * var(--zoom) / 100);
}

.bottomright {
    background-image: url('texture/border/bottomright.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(90px / 10 * var(--zoom) / 100);
}

.bottomtop {
    background-image: url('texture/border/bottomtop.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(90px / 10 * var(--zoom) / 100);
}

.counterleft {
    background-image: url('texture/border/counterleft.svg');
    background-size: 100% 100%;
    width: calc(10px / 10 * var(--zoom) / 100);
    height: calc(270px / 10 * var(--zoom) / 100);
}

.counterright {
    background-image: url('texture/border/counterright.svg');
    background-size: 100% 100%;
    width: calc(10px / 10 * var(--zoom) / 100);
    height: calc(270px / 10 * var(--zoom) / 100);
}

.countermiddle {
    background-image: url('texture/border/countermiddle.svg');
    background-size: 100% 100%;
    width: calc(130px / 10 * var(--zoom) / 100);
    height: calc(270px / 10 * var(--zoom) / 100);
}

.left {
    background-image: url('texture/border/left.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(160px / 10 * var(--zoom) / 100);
}

.middleleft {
    background-image: url('texture/border/middleleft.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(150px / 10 * var(--zoom) / 100);
}

.middleright {
    background-image: url('texture/border/middleright.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(150px / 10 * var(--zoom) / 100);
}

.middletop {
    background-image: url('texture/border/middletop.svg');
    background-size: 100% 100%;
    width: calc(160px / 10 * var(--zoom) / 100);
    height: calc(150px / 10 * var(--zoom) / 100);
}

.right {
    background-image: url('texture/border/right.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(160px / 10 * var(--zoom) / 100);
}

.top {
    background-image: url('texture/border/top.svg');
    background-size: 100% 100%;
    width: calc(160px / 10 * var(--zoom) / 100);
    height: calc(120px / 10 * var(--zoom) / 100);
}

.topleft {
    background-image: url('texture/border/topleft.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(120px / 10 * var(--zoom) / 100);
}

.topright {
    background-image: url('texture/border/topright.svg');
    background-size: 100% 100%;
    width: calc(120px / 10 * var(--zoom) / 100);
    height: calc(120px / 10 * var(--zoom) / 100);
}

.cell {
    width: calc(160px / 10 * var(--zoom) / 100);
    height: calc(160px / 10 * var(--zoom) / 100);
    background-size: 100% 100%;
}

.blast {
    background-image: url('texture/cells/blast.svg');
}

.cell1 {
    background-image: url('texture/cells/cell1.svg');
}

.cell2 {
    background-image: url('texture/cells/cell2.svg');
}

.cell3 {
    background-image: url('texture/cells/cell3.svg');
}

.cell4 {
    background-image: url('texture/cells/cell4.svg');
}

.cell5 {
    background-image: url('texture/cells/cell5.svg');
}

.cell6 {
    background-image: url('texture/cells/cell6.svg');
}

.cell7 {
    background-image: url('texture/cells/cell7.svg');
}

.cell8 {
    background-image: url('texture/cells/cell8.svg');
}

.celldown {
    background-image: url('texture/cells/celldown.svg');
}

.cellflag {
    background-image: url('texture/cells/cellflag.svg');
}

.cellmine {
    background-image: url('texture/cells/cellmine.svg');
}

.cellup {
    background-image: url('texture/cells/cellup.svg');
}

.falsemine {
    background-image: url('texture/cells/falsemine.svg');
}
