<div class="my-component">
    This component is defined in the <strong>Pk9r.Minesweeper.Components</strong> library.
</div>

<MinesweeperNumberBox Values="099" />

<div style="display:inline-flex;">
    <MinesweeperCell Value="blast" />
    <MinesweeperCell Value="cell1" />
    <MinesweeperCell Value="cell2" />
    <MinesweeperCell Value="cell3" />
    <MinesweeperCell Value="cell4" />
    <MinesweeperCell Value="cell5" />
    <MinesweeperCell Value="cell6" />
    <MinesweeperCell Value="cell7" />
    <MinesweeperCell Value="cell8" />
    <MinesweeperCell Value="celldown" />
    <MinesweeperCell Value="cellflag" />
    <MinesweeperCell Value="cellmine" />
    <MinesweeperCell Value="cellup" />
    <MinesweeperCell Value="falsemine" />
</div>

<MineSweeperBoard />