<div class="my-component">
    This component is defined in the <strong>Pk9r.Minesweeper.Components</strong> library.
</div>

<MinesweeperNumberBox Values="099" />

<div style="display:inline-flex;">

    @foreach (var cell in Enum.GetValues(typeof(Cell)))
    {
        <MinesweeperCell Value="@((Cell)cell)" />
    }
</div>

<MinesweeperBoard Width="30" Height="16" />