@inject GameState GameState

<div class="my-component">
    This component is defined in the <strong>Pk9r.Minesweeper.Components</strong> library.
</div>

<MinesweeperNumberBox Values="099" />

<MinesweeperBoard />

<MinesweeperGameSettings />

<FluentButton @onclick=HandleTest>Test</FluentButton>
<FluentButton @onclick=HandleTest2>Test2</FluentButton>

@code {
    private void HandleTest()
    {
        GameState.SetMines(5, 5);
        GameState.RevealAllCells();
    }

    private void HandleTest2()
    {
        GameState.NewGame();
    }
}