@namespace Pk9r.Minesweeper.Components

<div style="display: inline-flex;">
    <div class="border counterleft" />
    <div class="countermiddle">
        <div class=@($"counter counter{@Values[0]}") />
    </div>
    <div class="countermiddle">
        <div class=@($"counter counter{@Values[1]}") />
    </div>
    <div class="countermiddle" style="">
        <div class=@($"counter counter{@Values[2]}") />
    </div>
    <div class="border counterright" />
</div>

@code {
    [Parameter]
    public string Values { get; set; } = "---";
}
